<head>
  <meta charset="utf-8">
  <title>studio collin.</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <meta property="og:type" content="profile">
  <meta property="og:title" content="Alexander Collin, Studio Collin">
  <meta property="og:url" content="https://studiocollin.se">
  <meta property="og:image" content="https://studiocollin.se/sc-og.jpg">
  <meta property="og:description" content="Alexander Collin works interdisciplinary and with a curious nerve to bring forth and execute strong visual concepts.
  Studio Collin is a creative studio working with creative- & visual direction for artists & brands.">
  <meta property="profile:first_name" content="Alexander">
  <meta property="profile:last_name" content="Collin">
  <meta property="profile:username" content="alexandercollin">
  <meta name="theme-color" content="#fff">
</head>