 <div class="container-fluid header">
    <div class="row">
        <div class="col-sm-4">
            <section class="company">
                <a href="{{ '/' | url }}"><h1>STUDIO COLLIN<br>
                ALEXANDER COLLIN</h2>
                <h3>CREATIVE- & ART DIRECTOR<br>
                PHOTOGRAPHY & FILM<br>
                GRAPHIC DESIGN</h3>
                </a>
            </section>
            <section class="location">
                <h3>STOCKHOLM, SWEDEN</h3>
                <h3>AVAILABLE WW</h3>
            </section>
        </div>
        <div class="col-sm-2><a href="{{ '/projects/' | url }}">PROJECTS</a></div>
        <div class="col-sm-2><a href="{{ '/about/' | url }}">INFORMATION</a></div>
        <div class="col-sm-2><a href="mailto:alexander@studiocollin.se">CONTACT</a></div>
       
        </nav>
        <div class="col-sm-4 right">
            <h2>SOCIAL</h2>
            <ul>
                <li><a href="#">INSTAGRAM</a></li>
                <li><a href="#">INSTAGRAM</a></li>
            </ul>
        </div>
    </div>
</div>