 <div class="container-fluid header">
    <div class="row">
        <div class="col-sm-4">
            <section class="company">
                <a href="{{ '/' | url }}"><h1>Studio Collin</h1>
                </a>
            </section>
        </div>
                <div class="col-sm-2"><a href="{{ '/projects/' | url }}">Projects</a></div>
                 <div class="col-sm-2"><a href="{{ '/about/' | url }}">Information</a></div>
                 <div class="col-sm-2"><a href="mailto:alexander@studiocollin.se">Contact</a></div>

        <div class="col-sm-2 right">
            <ul>
                <li><a href="https://www.instagram.com/alexandercollin/" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="row header-row-2">
    <div class="col-sm-2">
        <h2>Alexander Collin</h2>
        </div>
        <div class="col-sm-2">
        <section>
           <h3>Creative- & Art direction<br>
                Photography & Film<br>
                Graphic design</h3>
            </section>
            
        </div>
        <div class="col-sm-2">
                <h3>Stockholm, Sweden</h3>
                <h3>Available WW</h3>
        </div>
        
    </div>
</div>