@import url("https://use.typekit.net/oyl5gnb.css");

@font-face {
  font-family: 'DPV';
  src: url('fonts/DPV.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DPV';
  src: url('fonts/DPVI.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

$body-bg: #fff;
$body-color: #000;
//typography
$font-family-sans-serif: "franklin-gothic-atf", "Helvetica Neue", -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif !default;
$font-family-serif: "ltc-caslon-pro", Garamond, Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$grid-gutter-width: .5rem;
@import "bootstrap/bootstrap";
@import 'lazyframe/_base.scss';

.lazyframe {
  margin-bottom: 2em;
}

#fixedNav {
  position: fixed;

  h1,
  p {
    display: inline-block;
  }
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.portfolio-item {
  margin: 0 auto 39px auto;
}


h1,
h2,
h3,
p {
  font-size: 14px;
}

.right {
  @include media-breakpoint-up(sm) {
    text-align: right;
  }
}

h2,
h3,
p {
  font-weight: 300;
}

.main-nav {
  h1 {
    font-size: 12px;
  }

  .right {
    text-align: right;
  }
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: normal
}

h3 {
  font-family: $font-family-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}


p {
  font-family: $font-family-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.01em;
}

img {
  width: 100%;
  margin-bottom: $grid-gutter-width;
}


.main-container,
.about,
.main-footer {
  padding: 78px $grid-gutter-width*2;
  @include media-breakpoint-up(sm) {
    padding: 78px $grid-gutter-width*2;
  }
}

.main-nav {
  padding: 19px $grid-gutter-width*2;
 }



.underline {
  text-decoration: underline;
}