---
title: "Eleventy Portfolio"
layout: "base.njk"
---
<div class="row">
<div class="col-sm-3">
<h2>Studio Collin is a creative studio working with creative- & visual direction for artists & brands.</h2>
</div>
<div class="col-sm-8 offset-sm-1 col-lg-5">

Alexander Collin works interdisciplinary and with a curious nerve to bring forth and execute strong visual concepts. Since founding Studio Collin, he has been creating full visual concepts, artworks, photographs, music videos and 360 campaigns for brands and artists internationally.

The work has been featured and awarded (D&DA, the FWA, Adobe, Behance etc.), multi-certified as gold and platinum records by IFPI Sweden and published in magazines (Elle Magazine, Kaltblut etc.)
</div>
<div class="row brag">
    <section class="col-sm-2 offset-sm-4">
    <h1 class="brag-title">Selected Clients —</h1>
    <ul class="brag-list">
        <li>ASUS</li>
        <li>EA Sports</li>
        <li>Heineken</li>
        <li>Audi</li>
        <li>Einride</li>
        <li>Profoto</li>
        <li>NONONO</li>
        <li>Peter Jöback</li>
        <li>Miriam Bryant</li>
        <li>Ison & Fille</li>
        <li>Eagle-Eye Cherry</li>
        <li>Håkan Hellström </li>
        <li>José González</li>
        <li>Kerstin Ljungström</li>
        <li>KIDDO</li>
        <li>JIM OUMA</li>
        <li>Maja Francis</li>
        <li>Viktor Norén</li>
        <li>Sony Music</li>
        <li>Universal Music</li>
        <li>Warner Music</li>
        <li>EMI</li>
        <li>RMV Grammofon</li>
        <li>Cosmos Music</li>
    </ul>
    </section>
    <section class="col-sm-2">
    <h1 class="brag-title">Agencies —</h1>
    <ul class="brag-list">
        <li>Wieden + Kennedy Amsterdam</li>
        <li>Uncommon Creative Studio</li>
        <li>SNASK</li>
    </ul>
    <h1 class="brag-title">Awards & Nominations —</h1>
    <ul class="brag-list">
        <li>Adobe/Behance Best in Film, 2020</li>
        <li>Adobe/Behance Best in AE, 2020</li>
        <li>Adobe/Behance Best in Music Packaging, 2019</li>
        <li>FWA & Adobe Cutting Edge Award, 2014</li>
        <li>FWA SOTD, 2014</li>
    </section>
</div>