---
title: "Eleventy Portfolio"
pid: "index"
layout: "base.njk"
bodyClass: inverted
slideshow:
  - 24WA01/PeterJoback-AlexanderCollin-0397.jpg
  - 21SS01/hero-03.jpg
  - 22W01/ex-01.jpg
  - 24WA01/PeterJoback-AlexanderCollin-0252.jpg
  - 20AW01/sixyears-07.jpg
---

<div class="slick-carousel">
  {% for slide in slideshow %}
    <div>
        {% Image slide, "image no 01", "", "" %}
    </div>
  {% endfor %}
</div>