---
title: "studio collin"
layout: "base.njk"
---
<div class="row">
  <div class="d-none d-md-block col-md-5">
    <nav class="projects-nav">
      <div class="col-sm-12 grid-space">
        <?xml version="1.0" encoding="UTF-8"?> <svg id="Layer_2" class="grid-ico" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style>.cls-1 {fill: #231f20; stroke-width: 0;} </style></defs><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="11" height="11"/><rect class="cls-1" x="13" width="11" height="11"/><rect class="cls-1" y="13" width="11" height="11"/><rect class="cls-1" x="13" y="13" width="11" height="11"/></g></svg>
      </div>
    </nav>
  </div>
</div>
<div class="row no-gutters">
    {% for post in collections.project | reverse %}
  <article class="col-md-3 preview">
 
    <a href="{{ post.url }}">
      {% if post.data.video %}
        {% video post.data.video, "1920", "1080", "landscape", post.data.pid %}
      {% else %}
        {% Image post.data.image, "image no 01", "landscape", post.data.pid %}
      {% endif %}
    </a>
    
    <p></p>
  </article>
{% endfor %}

 </div>
 </div>
</div>